
.error {
    -fx-text-fill: #BB0000 !important; /* The error class should always override the default text-fill style */
}

.listHeader {
    -fx-font-size: 20pt;
    -fx-text-fill: black;
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #f5dce0;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: black;
}
